.pokemon-selector-starter-container {
  display: flex;
}

.pokemon-selector-message-content {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 275px;
  max-height: 160px;
}

.pokemon-selector-starter-background-container {
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 1rem;
  position: relative;
  top: 0;
  left: 0;
}

.pokemon-selector-starter-background-image {
  position: relative;
  top: 0;
  left: 0;
  border-width: 32px;
  border-style: solid;
  border-color: #2b2b2b;
  border-radius: 16px;
}

.pokemon-selector-starter-stack {
  position: absolute;
  top: 55%;
  left: 30%;
}

.pokemon-selector-starter-inner-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.pokemon-selector-button {
  cursor: pointer;
}

.pokemon-selector-button:hover {
  transform: scale(1.1);
}

.pokemon-selector-main-tool-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 24rem;
  background-color: #2b2b2b !important;
  color: white !important;
}
