pokefarm-server/HELP.md
pokefarm-server/target/
pokefarm-server/!.mvn/wrapper/maven-wrapper.jar
pokefarm-server/!**/src/main/**/target/
pokefarm-server/!**/src/test/**/target/

### STS ###
pokefarm-server/.apt_generated
pokefarm-server/.classpath
pokefarm-server/.factorypath
pokefarm-server/.project
pokefarm-server/.settings
pokefarm-server/.springBeans
pokefarm-server/.sts4-cache

### IntelliJ IDEA ###
pokefarm-server/.idea
pokefarm-server/*.iws
pokefarm-server/*.iml
pokefarm-server/*.ipr

### NetBeans ###
pokefarm-server/nbproject/private/
pokefarm-server/nbbuild/
pokefarm-server/dist/
pokefarm-server/nbdist/
pokefarm-server/.nb-gradle/
pokefarm-server/build/
pokefarm-server/!**/src/main/**/build/
pokefarm-server/!**/src/test/**/build/

### VS Code ###
.vscode/

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# Parent folder
.DS_Store
