.header-banner {
  display: flex;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  opacity: 100% !important; /* Protects against dark mode making opac */
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
  background-color: white;
}
