@use "../../../styles/colors";

$create-account-page: "create-account-page";

.#{$create-account-page}-form-container {
  background-color: colors.$app-white-1;
  margin-left: auto;
  margin-right: auto;
  display: table;
  padding: 18px;
  border-radius: 6px;
  margin-top: 5%;
}

#{$create-account-page}-button-stack {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
