@use "../../../styles/colors";

$pokemon-game-screen: "pokemon-game-screen";

.#{$pokemon-game-screen}-starter-container {
  display: flex;
}

.#{$pokemon-game-screen}-message-content {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 275px;
  max-height: 160px;
}

.#{$pokemon-game-screen}-starter-background-container {
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 1rem;
  position: relative;
  top: 0;
  left: 0;
}

.#{$pokemon-game-screen}-starter-background-image {
  position: relative;
  top: 0;
  left: 0;
  border-width: 32px;
  border-style: solid;
  border-color: colors.$app-grey;
  border-radius: 16px;
}

.#{$pokemon-game-screen}-starter-stack {
  position: absolute;
  top: 55%;
  left: 30%;
}

.#{$pokemon-game-screen}-pokemon-row-first {
  position: absolute;
  top: 55%;
  left: 30%;
}

.#{$pokemon-game-screen}-pokemon-row-second {
  position: absolute;
  top: 72%;
  left: 15%;
}

.#{$pokemon-game-screen}-starter-inner-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.#{$pokemon-game-screen}-button {
  cursor: pointer;
}

.#{$pokemon-game-screen}-button:hover {
  transform: scale(1.1);
}

.#{$pokemon-game-screen}-main-tool-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 24rem;
  background-color: colors.$app-grey !important;
  color: colors.$app-white-1 !important;
}

.#{$pokemon-game-screen}-main-tool-payment {
  border-style: solid;
  padding: 6px;
  border-radius: 6px;
}
